*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/
/gradle/
.idea/caches/
.idea/fileTemplates/
app/libs/
app/src/androidTest/
app/src/test/